
{% extends "base.html" %}

{% block content %}

    <h1>{{t_title}}</h1>
    
    <h2>Avec EkoTruck, Roulons Vert l'Avenir ! </h2>
   
    <p>Créé en 1948, EkoTruck est aujourd'hui un des leaders français du transport de marchandises générales en lots et groupage, s'adressant notamment aux secteurs de l'agroalimentaire, la grande distribution, la distribution spécialisée, l'industrie pharmaceutique, l'énergie, le bâtiment et la construction, et tous les produits manufacturés.
    
    <p>Depuis plusieurs années, notre mission est également de réduire notre emprunte carbone et d'en rendre compte auprès de nos clients. EkoTruck investit de manière conséquente dans des solutions innovantes afin de poursuivre nos efforts dans ce sens. Ainsi, EkoTruck s'impose une parfaite transparence dans sa traçabilité.
    
    <p>Dans le cadre de sa campagne de communication écologique, EkoTruck a mis à la disposition de ses salariés une plateforme …
    


{% endblock %}


