{% extends "base.html" %}
{% block content %}

<h1>Mentions légales</h1> 

<h2>Préambule</h2> </br>
La société <strong>EkoTruck SARL</strong> au capital de 300 000,00 euros dont le siège social est situé 49 Bd Preuilly, 37000 Tours, France, immatriculée au Registre du Commerce et des Sociétés de Créteil sous le numéro 517 843 534. 
Ce site a fait l’objet d’une déclaration auprès de la CNIL (Commission Nationale de l’Informatique et des Libertés).
Directeur de la publication : John Doe, Président du Directoire de la société.</br></br>
<h2>Hébergement</h2></br>
Ce site est hébergé par OVH SAS - 2, rue Kellermann 59100 Roubaix</br></br>
<h2>Dispositions de la loi « informatiques et libertés »</h2></br>
À tout moment, vous disposez d’un droit d’accès, de modification, de rectification et de suppression des données qui vous concernent (art 34 de la loi « Informatiques et Libertés » du 6 Janvier 1978). Suite à l’enregistrement de votre email dans les champs prévus à cet effet, vous recevrez la Newsletter de <strong>EkoTruck SARL</strong>. Vous pouvez modifier cet abonnement en faisant une demande à nos services par courrier à <strong>EkoTruck SARL</strong> – Service Clients désabonnements – 49 Bd Preuilly - 37000 Tours – France ou par email à l’adresse <a href="mailto:contact@ekotruck.eu" target="_top">contact@ekotruck.eu</a>. </br></br>
<h2>Propriétés intellectuelles</h2></br>
Tous les textes, commentaires, logos, illustrations et images reproduits ou représentés sur les sites de <strong>EkoTruck SARL</strong> sont strictement réservés au titre du droit d’auteur ainsi qu’au titre de la propriété intellectuelle et pour le monde entier. A ce titre et conformément aux dispositions du code de la propriété intellectuelle, seule l’utilisation pour un usage privé sous réserve de dispositions différentes voire plus restrictives du code de la propriété intellectuelle est autorisée. Toute reproduction ou représentation totale ou partielle des sites de EkoTruck SARL ou de tout ou partie des éléments se trouvant sur les sites de la <strong>EkoTruck SARL</strong> est strictement interdite sans accord.
Pour toute réclamation concernant ce site : <a href="mailto:contact@ekotruck.eu" target="_top">contact@ekotruck.eu</a>.

{% endblock %}